* {
  font-family: Helvetica, Arial, sans-serif;
}

fieldset {
  border: none;
  margin: 2rem 0;
  padding: 0;
}

p {
  margin: 0;
  max-width: 60ch;
}

#help-text {
  margin-bottom: 1rem;
}

#concatenated-container {
  display: flex;
  align-items: flex-end;
}

#concatenated-container div {
  margin-right: 1rem;
}

legend,
label {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0;
  max-width: 60ch;
}

label {
  display: block;
  font-size: 1.1rem;
}

input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: #000000 1px solid;
  font-size: 1rem;
}

#concatenated-container.allDirty input.dirty:invalid {
  border-color: #900;
  background-color: #fdd;
}

#errors {
  margin-top: 1rem;
}

.error {
  display: none;
  color: red;
  margin-bottom: 0.25rem;
}

#errors.allDirty .error {
  display: block;
}

.error.active {
  padding: 0.3rem;
}

:focus {
  outline-color: #0085ff;
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: 0.25rem;
  box-shadow: none;
}
